{% extends "MyBlog/base.html" %}
   {% block title %}{{ post.title }}{% endblock %}

     {% block body  %}
        {% endblock %}
   {% block content %}
     <h1>{{ post.title }}</h1>
     <p class="date">
       Published {{ post.publish }} by {{ post.author }}
     </p>
     {{ post.body|linebreaks }}

     <p>
     	<!--  <a href="share/">share this post</a></p><br> -->
       
      <form action="." method="post">
        {% csrf_token %}
       
        {{ commentform.as_p}}
        
        <input type="submit" name="Post comment" value="Post comment">
      </form>


        

      {% with total=all_comments.count %}
        There are {{ total }} comment{{ total|pluralize }} for this post.
      {% endwith %}

        {% for com in all_comments %}
         <div>
          {{forloop.counter}}.
            <b>commented by: {{com.name}}</b> 
          {{com.comment_content| linebreaks}}
         </div>
        {% empty %}
         <p>There are no comments yet...<p>
        {% endfor %}
        
         
      </br>

      <a href="{% url 'sharePost' post.slug  %}">share</a>
   {% endblock %}